{% extends 'RoundTable/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <form action="" method="POST">
                {{ form.error }}
                {% csrf_token %}
                {{ form|crispy }}
            </form>
            <input type="submit" value="Создать пространство">

            <a class="col-sm-4" href="#">
                <button class="btn btn-primary">Мультиплеерная игра</button>
            </a>
            <a class="col-sm-8" href="#">
                <button class="btn btn-primary">Одиночная игра</button>
            </a>
        </div>
    </div>
{% endblock content %}