{% extends 'RoundTable/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <form action="" method="POST">
                    {{ form.error }}
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit"
                                       value="Мультиплеерная игра">
                </form>
            </div>
            <a class="col-sm-8" href="#">
                <button class="btn btn-primary">Одиночная игра</button>
            </a>
        </div>
    </div>
{% endblock content %}