{%extends 'RoundTable/base/index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col">
        <img src="{% static 'img/login.svg' %}" height="600" width="400" />
    </div>
    <div class="col">
        <h1 class="login-header">Будьте готовы <br/> блеснуть своим умом</h1>
        <p style="font-weight: bold; width: 680px;text-align: right;">
            Команда - это не просто совокупность знаний, команда - это единый отлаженный механизм.
            "Лампочка" вашей идеи никогда не осветит комнату, если не включить её в цепь.
            Организовывать такие цепи и предоставлять саму комнату и призван RoundTable.
            <br/>
            Мы не сделаем каждого участника вашей команды эффективнее - мы сделаем эффективнее  команду целиком.
        </p>
        <div class="container-fluid col-md-7">
            <form action="" method="post" class="pull-right">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" href="{% url 'registration' %}" role="button">Регистрация</a>
                    <input type="submit" class="btn btn-success btn-block" value="Войти в систему">
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<style>
    .login-header{
        text-align: right;
        color: #5EF2C5;
        font-weight: bold;
    }
</style>
{% endblock content %}