{% extends 'RoundTable/layout.html' %}

{% block content %}
    {% if request.user == user_captain %}
        <h3>Это сообщение видит только капитан с ником {{ user_captain.username }}</h3>
    {% endif %}


    <input id="team-name" type="hidden" value="{{ team.team_name }}"/>
    {% for user in users %}
        {% if user.is_captain %}
            <li class="list-group-item-primary">{{ user.user.username }}</li>
            <div class="form-signin">
                <input class="form-control mr-sm-2" id="playerName" type="text"
                       placeholder="Search player names here..."/>
                <br/>
                <div class="margin">
                    <div id="results"></div>
                </div>
            </div>
        {% else %}
            <li class="list-group-item-secondary">{{ user.user.username }}<a class="btn btn-danger"
                                                                             user-id="{{ user.user.username }}"
                                                                             team-id="{{ team.team_name }}"
                                                                             href="{% url 'delete_user' %}">Delete</a>
            </li>
        {% endif %}
    {% endfor %}
    <form action="{% url 'game_mod'  slug %}">
        <button type="submit">Начать игру</button>
    </form>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#playerName').keyup(function (e) {
                $('#results').html('&nbsp;').load('{% url "search" %}?q=' + $(e.target).val());
            });
        });
    </script>
{% endblock %}