{% extends 'RoundTable/layout.html' %}

{% block content %}

    {% for user in users %}
        {% if user.is_captain %}
            <li class="list-group-item-primary">{{ user.user.username }}</li>
            <div class="form-signin">
                <input class="form-control mr-sm-2" id="playerName" type="text" placeholder="Search player names here..."/>
                <br/>
                <div class="margin">
                    <div id="results"></div>
                </div>
            </div>
        {% else %}
            <li class="list-group-item-secondary">{{ user.user.username }}</li>
        {% endif %}
    {% endfor %}

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        $( document ).ready( function() {
            $.ajax({
                 type:"POST",
                 url:"http://localhost:8000/edit_favorites/",
                 success: function(result){
                     alert(result);
                 }
            });
            $( '#playerName' ).keyup( function(e) {
                $( '#results' ).html( '&nbsp;' ).load( '{% url "search" %}?q=' + $(e.target).val() );
            });
        });
    </script>
{% endblock %}