{% extends 'RoundTable/layout.html' %}
{% block content %}
    <div class="container">
        <div class="col-sm-4">
           <p class="text-center"><img src="{{ user.avatar.url }}" width="60%"></p>
            <h4><strong>Личная информация</strong></h4>
            <p>Логин: {{ user.username }}</p>
            <p>Имя: {{ user.first_name }}</p>
            <p>Фамилия: {{ user.last_name }}</p>
            <p>email: {{ user.email }}</p>
            <p>{{ current_view }}</p>
        </div>
        <div class="col-sm-4">
            <h4>Пространсва</h4>
            {% for current_team in user_in_teams %}
                <a href="{{ current_team.team.get_absolute_url }}"><li class="list-group">{{ current_team.team.team_name }}</li></a>
            {% endfor %}
        </div>
    <div class="col-sm-8">
        <h4>Инвайты</h4>
        {% for invite in invites %}
            <div data-slug="{{ invite.slug }}">
            <p>Вас пригласил {{ invite.user_from.username }} в команду {{ invite.team }} дата {{ invite.date_sand.day|stringformat:"02d"}}.{{invite.date_sand.month}}.{{invite.date_sand.year}}</p>

            </div>
        {% endfor %}

    </div>
    </div>
{% endblock content %}
{% block jquery %}
{% endblock %}