header{
    position: absolute;
}

nav{
    height: 65px;
}

main{
    padding-top: 65px;
}

.no-side-padding{
    padding-left: 0;
    padding-right: 0;
}

.no-padding{
    padding: 0;
}

.full-height{
    height: 100%;
}

div.new-team-input input{
    background-color: #508B93;
    border-right: none;
    color: white;
    font-weight: bold;
}

    div.new-team-input input:focus{
        background-color: #508B93;
        border-right: none;
        color: white;
        font-weight: bold;
        outline-style:none;
        box-shadow:none;
        border-color:transparent;
    }

    div.new-team-input input::-webkit-input-placeholder{
        color: rgba(255, 255, 255, 0.8) !important;
    }

div.new-team-input:focus-within{
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-radius: 4px;
}

div.new-team-input button{
    background-color: #508B93;
    color: #5EF2C5;cursor: pointer
}

div.team-mode-container .team-list-container{
    width: 60%;
}

.default-button{
    font-weight: bold;
    font-size: 16px;
    width: 150px;
    height: 40px;
    border-radius: 4px;
}

label.default-button{
    display: inline-grid;
    align-items: center;
}

.light-color{
    color: #5EF2C5;
}

.light-button{
    background-color: #5EF2C5;
    color: #FFF;
}

    .light-button:hover{
        color: #FFF;
    }

.dark-button{
    background-color: #406F76;
    color: #5EF2C5;
}

    .dark-button:hover{
        color: #5EF2C5;
    }

.default-text{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.team-button{
    width: 100%;
    background-color: #508B93;
    border-color: #508B93;
    color: white;
    font-weight: bold;
}

ul.button-list{
    list-style-type: none;
}

    ul.button-list li{
        padding-bottom: 10px;
    }

#avatar-container{
    position: relative;
    width: fit-content;
    height: fit-content;
}

    #avatar-container img{
        cursor: pointer;
    }

        #avatar-container img[name=cover]{
            position: absolute;
            display: none;
        }

        #avatar-container img[name=avatar]{
            border-radius: 50%;
        }

.auto-vertical-scroll{
    overflow-y: auto;
}

.w-35{
    width: 35%;
}

.w-45{
    width: 45%;
}

.w-47{
    width: 47%;
}

.w-65{
    width: 65%;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.default-input{
        width: 100%;
        height: calc(2.25rem + 2px);
        display: block;
        background-color: #508B93;
        color: white;
        font-weight: bold;
        caret-color: #5EF2C5;
        border: 0 #80bdff;
        border-radius: 4px;
        padding-left: 8%;
    }

    .default-input:focus{
        background-color: #406F76;
        outline: outset 0;
        box-shadow: 0 0 0 1px rgba(22, 65, 255, 0.53);
    }

    .default-input::placeholder{
        color: rgba(255,255,255,0.8);
    }