{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/LogicGameStageLogo.png' %}" alt="LogicGameStage Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            {% if not request.user.is_authenticated %}
            <li>
                <p class="navbar-text">Здравствуйте, гость!</p>
            </li>

            <li>
                <a href="{% url 'login' %}">Войти</a>
            </li>

            <li>
                <a href="{% url 'registration' %}">Регистрация</a>
            </li>
            {% else %}
            <li>
                <p class="navbar-text">Здравствуйте, {{ request.user }}</p>
            </li>
            <li>
                <a href="{% url 'logout' %}">Выйти</a>
            </li>

            {% endif %}
        </ul>
    </div>

    <div class="right">{{ current_time }}</div>
</nav>