{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col no-padding">
            <nav class="navbar navbar-expand-sm navbar-dark logo">
                <div class="logo-container">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'img/logo.svg' %}" alt="logo">
                    </a>
                    <a class="navbar-brand logo-text-container" href="/">
                        Round Table
                    </a>
                </div>
            </nav>
        </div>
        <div class="col no-padding" >
            <nav class="navbar navbar-expand-sm navbar-dark actions">
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse actions-container" id="navbarResponsive">
                    {% if request.user.is_authenticated %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'account_view' %}">Профиль
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'logout' %}">Выйти
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>


